body {
  background-color: black;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}
body a{
  text-decoration: none;
  color: white;
}
.plexlogo{
  height:30px;
}
#header{
  display: grid;
  grid-template-columns: 80px 200px 320px 1fr;
  align-items: center;

}
#srchbar{
  border-style: none;
  height:40px;
  border-radius: 15px;
  background-color: rgb(168, 168, 168);
  display: flex;
  align-items: center;

}
#srchbar input{
  border-style: none;
  border-radius: 15px;
  background-color: transparent;
  padding-left: 7px;
}
#srchbar input:focus{
  outline:none;
}
#middle{
  display:flex;
  align-items: center;
  
}
.sections{
  font-size: 14px;
  border-radius: 8px;
  padding: 3px 5px 3px 5px;
  border-color: rgb(99, 99, 99);
  border-style: solid;
  background-color: rgb(0, 0, 0);
  text-align: center;
  height:35px;
  margin-left: 10px;
  color: white;

}
#movie-list{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;

}
.movieCard{
  padding: 10px 5px;
  width:200px;
}
.movieCard:hover{
  cursor: pointer;
  .poster{
    border: 3px solid white;
    height:294px;
    width:194px;
    transition:0.1s;
  }
}
.poster{
  height:300px;
  width:200px;
  object-fit:cover;
  border-radius: 15px;

}
.title{
  padding-left: 8px;
  width:200px;
  overflow:hidden;
  text-overflow:ellipsis;

}
.year{
  padding-left: 10px;
  opacity:0.7;
}
.pageno{
  text-align: center;
}
.loading{
  background-color: rgb(143, 143, 143);
  width:500px;
  height:200px;
  text-align: center;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-content: center;
  margin-bottom: 50px;
}